# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY=pk_test_3965911bdbe999fc71e74c0ea8662b9c85d1ca99d5013
# Set the environment for your application, e.g. "development"
NODE_ENV=
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51KRoMBJZlGh4bQCoGZABNolZSZJHYisg00vxLKzYKUKprHboz51q2mz21FuJCQbloccS1hHKDbdYr9DNcmRsDilg00JZMbBRUc
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=sk_test_3965977b63a8a932e6f80c953a842fe1ed328cf3db05e
CHEC_API_URL=https://api.chec.io
